.cercle1{
    position: fixed;
    width: 60PX;
    height: 60PX;
    left: 11.5%;
    top: 63.5%;
    border: 20px solid rgba(124, 106, 174, 0.19);
    border-radius: 50%;
}
.cercle2{
    position: fixed;
    width: 100PX;
    height: 100PX;
    right: 10%;
    bottom: 60%;
    background: rgba(124, 106, 174, 0.19);
    border-radius: 50%;
}
.cercle3{
    position: fixed;
    width: 100PX;
    height: 100PX;
    right: 10%;
    top: 60%;
    border: 20px solid rgba(124, 106, 174, 0.19);
    border-radius: 50%;
}
.cercle4{
    position: fixed;
    width: 80PX;
    height: 80PX;
    left: 50%;
    right: 50%;
    top: 30%;
    background-color: rgba(124, 106, 174, 0.19);
    border-radius: 50%;
}

@font-face {
	font-family: 'Jost';
	src: url('../assets/Jost-Light.ttf') format(‘truetype’)
}

h1{
    margin-bottom: 0;
}

.p{
    font-size: 20px; 
    color: #7C6AAE;
}

.pp{
    font-size: 20px; 
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tel{
    width: 60px;
    margin-left: 0px;
}
.image{
    width: 300px;
    height: 200px;
}
input{
    background: #d9d9d980;
    border: none;
    border-radius: 5px;
    height: 22px;
}
textarea{
    background: #d9d9d980;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 100px;
    columns: 24;
    overflow: auto;
}
h2{
    margin-top: 0%;
    color: #7C6AAE;
    
}

.btn-grad{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #7C6AAE;
}
.time{
    border-bottom:  5px rgb(83, 83, 83);
    background-color:rgba(240, 248, 255, 0);
}
.nomprenom, textarea{
    width: 80%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    width: 100%;
}

.gauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: #7C6AAE;
    text-align: center;
    font-family: 'Jost';
}

.droite{
    width: 30%;
    height: 90%;
    background: rgba(217, 217, 217, 0.15);
    box-shadow: inset 4.94667px -4.94667px 4.94667px rgba(182, 182, 182, 0.28), inset -4.94667px 4.94667px 4.94667px rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20PX;
    border: #7c6aaeae solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 290PX;
    max-height: 470px;
    //overflow: auto;   
}

.page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-wrap: wrap;    
}
.bodyy{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//Footer
.footeer{
    //position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.09);
    padding-bottom: 20px;
}
.rgpd{
    text-decoration: none;
    color: black;
}

//Fin Footer


@media (min-width:1020px){
    .image{
    width: 420px;
    height: 300px;
}       
}

@media (min-width:1650px){
.nomprenom, textarea{
    width: 450px;
}
}