.fond{
    width: 720px;
    height: 400px;
    display: block;
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notfound{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}